{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>
	{%include 'header.html'%}
	<div class="text_about"><caption>About Us :-</caption></div>
	<div class="p1"><p>A blood bank is a center where blood gathered as a result of blood donation is stored and preserved for later use in blood transfusion. The term "blood bank" typically refers to a division of a hospital where the storage of blood product occurs and where proper testing is performed. However, it sometimes refers to a collection center, and some hospitals also perform collection. Blood Bank Management includes tasks related to blood collection, processing, testing, separation, and storage.<br>
	"Help A Friend" is an organization that brings voluntary blood donors and those in need of blood on to a common platform.  Through this website, we seek donors who are willing to donate blood, as well as provide the timeliest support to those in frantic need of it.<br>
	Our mission-"Being one of the preeminent and specialized Blood Centres."<br>
	Our Vision - “Bringing Dignity to Life of people by making Quality blood and blood products available when needed.” <br></div>
	{%include 'footer.html'%}
</body>
</html>